

.front-center {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

   img {
    filter: drop-shadow(5px 5px 10px rgba(0, 100, 255, 0.5));
     border-radius: 15px;
     width: 450px;
     height: 400px;
  }
}


