/**
 * Copyright 2025 JamilWare Technologies
 * SPDX-License-Identifier: gpl-3.0
 */

.nav-container {
    width: 100%;
    height: 7rem;
    margin-top: 1rem;

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left-nav {
            display: flex;
            flex-direction: row;

            .top-left-downloads {
                color: red;
                font-weight: 300;

                .download-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0rem;
                padding-bottom: 0.3rem;
                font-size: $link-font-size;
                &:hover {
                    color: green;
                }
            }
        }

        .right-nav {
            visibility: hidden;
            .selected-link {
                color: lightseagreen;
                font-weight: 700;
            }

            .default-link {
                color: darkolivegreen;
            }

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        a {
            padding: 1rem;
            font-size: $link-font-size;
            text-decoration: none;
        }
    }
}
