@import url('fonts.googleapis.com');


html {
  font-size: 16px; 
  font-family: "Roboto", sans-serif;
    
}

body {
  margin: 0px;
  font-size: 1rem; 
}

.front-center {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;

   img {
    filter: drop-shadow(5px 5px 10px rgba(0, 100, 255, 0.5));
     border-radius: 15px;
     width: 450px;
     height: 400px;
  }
}


.container {
  width: 100%;
  height: 7rem;
  margin-top: 1rem;

 .download-icon {
  width: 1.5rem;
  height: 1.5rem;
}

  .current-downloads {
    color: red;
    font-weight: 300;
  }

   .current {
    color: lightseagreen;
    font-weight: 700;
  }
  
  .passive {
    color: darkolivegreen;
  }

  .nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    .left-nav {
      display: flex;
      flex-direction: row;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
        padding-bottom: 0.3rem;
        font-size: 1.2rem;
      }
    }

    .right-nav {
      background-color: transparent;
    }

    a {
      padding: 1rem;
      font-size: 1.2rem;
    }
  }
}
