---
---

/**
 * Copyright 2025 JamilWare Technologies
 * SPDX-License-Identifier: gpl-3.0
 */
 
// The order of the partials included is important
@import "variables";
@import "navigation";
@import "banner";
@import "projects";
@import "components/underlinedTitle";
@import "components/project-card";



html {
  font-size: 16px; 
  font-family: sans-serif;
}

body {
  display: grid;
  margin: 0px;
  font-size: 1rem;
}

