.project-card-container {
  display: flex;
  flex-direction: column;
  overflow: clip; // helps remove the outliers tech bars
  padding-top: 5rem;
  width: 420px;

  $shadow-color: rgba(0, 0, 0, 0.2);
  $transition-speed: 0.4s;

  .image {
    padding: 0.5rem;

    img {
      box-shadow: 0 4px 8px $shadow-color;
      transition:
        transform $transition-speed ease,
        box-shadow $transition-speed ease;

      cursor: pointer;
      border-radius: 20px;

      &:hover {
        transform: translateY(-6px) scale(1.02);
        box-shadow: 0 12px 24px $shadow-color;
      }
    }
  }

  .title {
    color: orangered;
    font-size: 2rem;
    padding-left: 0.7rem;
    height: 4rem;
    visibility: hidden;
  }

  .description {
    color: grey;
    padding-left: 0.7rem;
    padding-top: 1rem;
    width: 80%;
    line-height: 1.5; 
    height: 90px;
  }

  .tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 1rem;
//    height: 100px; might be needed later if one item has a lot more tags than average
    max-width: 400px;

    .item {
      display: list-item;
      list-style-type: "|";
      list-style-position: outside;
      padding: 0.6rem;
      color: blue;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: 90%;

    .tooltip-container {
      /* Required for positioning the tooltip relative to this element */
      position: relative;
      display: inline-block;
      cursor: pointer;

      /* The actual tooltip element (hidden by default) */
      &::after {
        content: attr(data-tooltip); /* Gets text from the data-tooltip attribute */
        position: absolute;
        bottom: 100%; /* Position above the element */
        left: 110%;
        transform: translateX(-50%);
        width: 150px;
        background-color: #f7f7b2;
        color: crimson;
        // background-color: #b2f1f3;
        // color: crimson;
        padding: 5px 5px;
        border-radius: 6px;
        border: .5px solid black;
        /* Hiding mechanism and transition */
        opacity: 0;
        
        transition:
          opacity 0.3s ease,
          visibility 0.3s ease;
      }

      &:hover::after {
        opacity: 1;
        visibility: visible;
        /* Optional: slight movement up when appearing */
        bottom: calc(100% + 5px);
      }

      .openSource {
        background-color: #fff7a1;
        color: #fe7070;
        padding: 0.4rem;
      }

      .playground {
        background-color: #f4d9ff;
        color: #057711;
        padding: 0.4rem;
      }

      .foundational {
        background-color: rgb(255, 180, 215);
        color: rgb(65, 61, 61);
        padding: 0.4rem;
      }

      .showcase {
        background-color: #c3f7c8;
        color: #d916a8;
        padding: 0.4rem;
      }

      .businessValue {
        background-color: #f57d68;
        color: #ffffff;
        padding: 0.4rem;
      }
    }
  }

  .action-buttons {
    display: flex;
    padding-top: 1.5rem;
    width: 100%;
    padding-left: 0.5rem;
    img {
      filter: drop-shadow(5px 5px 10px rgba(96, 101, 109, 0.5));
      width: 1.2rem;
      height: 1.2rem;
    }

    .button-link {
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      background-color: #f6f6f7;
      color: black;
      cursor: pointer;
      border: 2px solid black;
      width: 33%;
      border-radius: 7px;
      margin-right: 10px;
      height: 1.5rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }
}
