<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="fonts.googleapis.com" rel="stylesheet">
  </head>
  <body>
    {% include navigation.html %}
    {% include banner.html %}
    
    <!-- showing index.html file -->
    {{ content }} 

    <div class="front-center">
      <a href="https://www.google.com" target="_blank">
      <img src="/assets/images/Congo.png"  alt=""></a>
       <a href="https://www.google.com" target="_blank">
        <img src="/assets/images/Go.png"  alt=""></a>
       <a href="https://www.google.com" target="_blank">
       <img  src="/assets/images/python.png"  alt=""></a>
    
    
    </div>
  </body>
</html>